.productSelected-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* grid-template-rows: repeat(2, 1fr); */

	/* height: 10rem; */
	border: 1px solid blue;
}

.product-left {
	grid-row: 1/1;
	grid-column: 1/2;
}

.product-right {
	grid-row: 1/1;
	grid-column: 2/3;
}
