* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

.main-app {
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* height: 100vh; */
}

.container {
	/* height: 50rem; */
	display: flex;
}

.fz-15 {
	font-size: 1.5rem;
}

.promotion {
}
