.homepage-container {
	display: flex;
	justify-content: space-around;
	height: 50rem;
	align-items: center;
	gap: 3rem;
	padding: 0 2rem;
}

.homepage-categories {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 4fr 1fr 2rem;
	align-content: end;

	height: 50%;
	width: 100%;
	background-size: cover;
	background-position: center;

	border-radius: 1rem;
}

.category-name {
	border: 2px solid white;
	color: white;
	background-color: black;
	font-size: 2rem;
	font-weight: bold;

	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;

	display: flex;
	justify-content: center;
	align-items: center;
}
